{% extends 'admin/base.html' %}
{% block content %}
<h2 style="display: inline-block;" class="mx-2">Galería</h2>
<button class="btn btn-primary my-2" data-toggle="modal" data-target="#modal1" style="background-color: #c21616; border-color:#c21616" onclick="crear()">Crear Nuevo</button>
<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>Id</th>
                <th>Artista</th>
                <th>foto 1</th>
                <th>foto 2</th>
                <th>foto 3</th>
                <th>foto 4</th>
                <th>Acción</th> 
            </tr>
        </thead>
        <tbody>
            {% for galeria in galerias %}
             <tr>
                <td>{{ galeria.0 }}</td>
                <td>
                {% for artista in artistas %}
                    {% if artista.0 == galeria.1 %}
                        {{artista.1}} {{artista.2}}
                    {% endif %}
                {% endfor %}
                </td>
                <td><img src="/static/uploads/{{ galeria.2 }}" style="max-width: 100px;max-height:100px" alt=""></td>
                <td><img src="/static/uploads/{{ galeria.3 }}" style="max-width: 100px;max-height:100px" alt=""></td>
                <td><img src="/static/uploads/{{ galeria.4 }}" style="max-width: 100px;max-height:100px" alt=""></td>
                <td><img src="/static/uploads/{{ galeria.5 }}" style="max-width: 100px;max-height:100px" alt=""></td>
                <td>
                    <a href="javascript:void(0)" onclick="editar(this)" data-toggle="modal" data-target="#modal1">Editar</a>
                    <a href="?eliminar={{galeria.0}}" >Eliminar</a>
                </td>
             </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function editar(element){
        const tr = element.parentNode.parentNode.children
        document.getElementById('artista-id').value = tr[0].textContent
        document.getElementById('nombre').value = tr[1].textContent
        document.getElementById('apellido').value = tr[2].textContent
        document.getElementById('especialidad').value = tr[4].textContent
        document.getElementById('facebook').value = tr[5].children[0].textContent
        document.getElementById('instagram').value = tr[5].children[1].textContent
    }
    function crear(){
        document.getElementById('artista-id').value = ""
        document.getElementById('nombre').value = ""
        document.getElementById('apellido').value = ""
        document.getElementById('especialidad').value = ""
        document.getElementById('facebook').value = ""
        document.getElementById('instagram').value = ""
    }
</script>
{% endblock %}

{% block modal %}
<div class="modal fade" id="modal1" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="" class="row" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="galeria-id" id="galeria-id">
                    <h4 class="text-center" style="display: block;width:100%">Crear Galeria</h4>
                    <div class="col-12">
                        <label for="artista">Artista</label>
                        
                        <select  id="artista" name="artista_id" class="form-control">
                        {% for artista in artistas %}
                            <option value="{{artista.0}}">{{artista.1}} {{artista.2}}</option>
                        {% endfor %}
                        </select>

                    </div>
                    <div class="col-12">
                        <label for="foto1">foto1</label>
                        <input type="file" accept="image/*" id="foto1" name="foto1" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="foto2">foto2</label>
                        <input type="file" accept="image/*" id="foto2" name="foto2" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="foto3">foto3</label>
                        <input type="file" accept="image/*" id="foto3" name="foto3" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="foto4">foto4</label>
                        <input type="file" accept="image/*" id="foto4" name="foto4" class="form-control">
                    </div>
                  
                    <div class="col-12 mt-2">
                        <input type="submit" class="btn btn-primary" value="Guardar">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}